.monitoring-container {
  max-width: 330px;
  min-width: 330px;
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.monitoring-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.monitoring-header h2 {
  font-size: 1rem;
  font-weight: 600;
}

.monitoring-select {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.monitoring-select:hover {
  background-color: #0563c8;
}

.monitoring-empty {
  font-size: 0.85rem;
  color: #999;
  padding: 0.5rem;
  text-align: center;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 2px; /* For scrollbar clearance */
  min-height: 300px;
}

.schedule-item {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 0.5rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  height: 80px;
  background-color: #fff;
  transition: background-color 0.2s ease;
    max-width: 230px;
}

.schedule-item:hover {
  background-color: #f6f8fc;
}

.schedule-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 1px solid #ccc;
  flex-shrink: 0;
}

.schedule-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the items to the left */
  text-align: left; /* Ensure text is aligned to the left */
  width: 100%;
  justify-content: flex-start; /* Make sure the content is at the top */
  overflow: hidden;
  height: 60px;
  max-width: 330px;
  position: relative;
}


.schedule-name {
  font-weight: 600;
  font-size: 0.85rem;

  position: absolute;
  top: 5px;
  left: 5px;
}

.schedule-text {
  font-size: 0.7rem;
  color: #555;
  line-height: 1.2;
  text-align: left;
}

.schedule-info{
  position: absolute;
  left: 5px;
  top: 25px
  
}

.schedule-info *{
  font-size: 9px;
  
}

.text-bold {
  font-weight: 600;
  color: #333;
}


